<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\HRWJ.mdb;Persist Security Info=True"/>
    <!--<add key="MySqlConnectionString" value="Server=58.133.87.162;Port=3306; Database=cap;Uid=root;pwd=root;allow zero datetime=true"/>-->
    <add key="MySqlConnectionString" value="Server=127.0.0.1;Port=3306; Database=cap_final;Uid=root;pwd=mj123456;allow zero datetime=true"/>
    <!-- Log4Net logs文件设置-->
    <add key="Common.LogConfig" value="~/Config/log4net.xml"/>
    <add key="studentexamExcelTitle" value="体检健康信息"/>
    <add key="studentexamExcelColumns" value="name AS 姓名, sex AS 性别, classes AS 班级, grade AS 年级, school AS 学校,
         cmisno AS 学籍号, jwbs AS 既往病史, tjrq AS 体检日期, sg AS 身高, tz AS 体重, fhl AS 肺活量, xss AS 血色素, 
         ssy AS 收缩压, szy AS 舒张压, lyslleft AS 裸眼视力左, lyslright AS 裸眼视力右, sy AS 沙眼, sj AS 色觉, xz AS 心脏,
         f AS 肺, gp AS 肝脾, tj AS 头颈, jz AS 脊柱, szgj AS 四肢关节, pf AS 皮肤, xb AS 胸部, jmy AS 结膜炎"></add>

    <add key="UpdateColumnDefaultValue" value="update tb_studentexam set qcl1top='00,00' where IFNULL(qcl1top,',' )=',' or qcl1top='';
                                               update tb_studentexam set qcl1bottom='00,00' where IFNULL(qcl1bottom,',' )=',' or qcl1bottom='';
                                               update tb_studentexam set qcl2top='00,00' where IFNULL(qcl2top,',' )=','  or qcl2top='';
                                               update tb_studentexam set qcl2bottom='00,00' where IFNULL(qcl2bottom,',' )=',' or qcl2bottom='';
                                               update tb_studentexam set qcl3top='00,00' where IFNULL(qcl3top,',' )=','  or qcl3top='';
                                               update tb_studentexam set qcl3bottom='00,00' where IFNULL(qcl3bottom,',' )=','   or qcl3bottom='';
                                               update tb_studentexam set qcl4top='00,00' where IFNULL(qcl4top,',' )=','   or qcl4top='';
                                               update tb_studentexam set qcl4bottom='00,00' where IFNULL(qcl4bottom,','  )=','   or qcl4bottom='';
                                               update tb_studentexam set qcl5top='00,00' where IFNULL(qcl5top,',' )=',' or qcl5top='';
                                               update tb_studentexam set qcl5bottom='00,00' where IFNULL(qcl5bottom,',' )=','  or qcl5bottom='';
                                               update tb_studentexam set qcl6top='00' where IFNULL(qcl6top,',' )=','   or qcl6top='';
                                               update tb_studentexam set qcl6bottom='00' where IFNULL(qcl6bottom,',' )=','  or qcl6bottom='';
                                               update tb_studentexam set qcl7top='00' where IFNULL(qcl7top,',' )=','  or qcl7top='';
                                               update tb_studentexam set qcl7bottom='00' where IFNULL(qcl7bottom,',' )=','  or qcl7bottom='';
                                               update tb_studentexam set qcr1top='00,00' where IFNULL(qcr1top,',' )=','   or qcr1top='';
                                               update tb_studentexam set qcr1bottom='00,00' where IFNULL(qcr1bottom,',' )=','  or qcr1bottom='';
                                               update tb_studentexam set qcr2top='00,00' where IFNULL(qcr2top,',' )=','   or qcr2top='';
                                               update tb_studentexam set qcr2bottom='00,00' where IFNULL(qcr2bottom,',' )=','   or qcr2bottom='';
                                               update tb_studentexam set qcr3top='00,00' where IFNULL(qcr3top,',' )=','  or qcr3top='';
                                               update tb_studentexam set qcr3bottom='00,00' where IFNULL(qcr3bottom,',' )=','   or qcr3bottom='';
                                               update tb_studentexam set qcr4top='00,00' where IFNULL(qcr4top,',' )=','  or qcr4top='';
                                               update tb_studentexam set qcr4bottom='00,00' where IFNULL(qcr4bottom,',' )=','  or qcr4bottom='';
                                               update tb_studentexam set qcr5top='00,00' where IFNULL(qcr5top,',' )=',' or qcr5top='';
                                               update tb_studentexam set qcr5bottom='00,00' where IFNULL(qcr5bottom,',' )=',' or qcr5bottom='';
                                               update tb_studentexam set qcr6top='00' where IFNULL(qcr6top,',' )=',' or qcr6top='';
                                               update tb_studentexam set qcr6bottom='00' where IFNULL(qcr6bottom,',' )=',' or qcr6bottom='';
                                               update tb_studentexam set qcr7top='00' where IFNULL(qcr7top,',' )=','  or qcr7top='';
                                               update tb_studentexam set qcr7bottom='00' where IFNULL(qcr7bottom,',' )=',' or qcr7bottom='';
                                               update tb_studentexam set yyltop='0' where IFNULL(yyltop,'' )='';
                                               update tb_studentexam set yylbottom='0' where IFNULL(yylbottom,'' )='';
                                               update tb_studentexam set yyctop='0' where IFNULL(yyctop,'' )='';
                                               update tb_studentexam set yycbottom='0' where IFNULL(yycbottom,'' )='';
                                               update tb_studentexam set yyrtop='0' where IFNULL(yyrtop,'' )='';
                                               update tb_studentexam set yyrbottom='0' where IFNULL(yyrbottom,'' )='';"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
